+article('Trasee')
  .ro
    +section('Trasee')

      h2 Trasee turistice în Rezervaţia Biosferei Delta Dunării
      p
        Activitatea turistică din Delta Dunării se desfăşoară în conformitate cu reglementările legale în vigoare. Odată cu declararea rezervaţiei biosferei, Administraţia rezervaţiei a stabilit propriile reguli de practicare a turismului, în scopul protejării patrimoniului natural. În acest scop, au fost stabilite 24 trasee turistice în rezervaţie, din care 15 trasee care se pot efectua numai cu mijloace de transport naval (navale) şi 9 trasee care se pot efectua prin drumeţii sau cu mijloace de transport rutier (terestre). Traseele navale pornesc din principalele puncte de intrare în rezervaţie: Tulcea, Murighiol, Jurilovca sau din localităţile din rezervaţie, Chilia Veche, Crişan, Sulina, Sf. Gheorghe. Traseele terestre pornesc din Tulcea, Murighiol, Uzlina, Sulina, Sf. Gheorghe, Chilia Veche.

  .en
    +section('Trails')

      h2 Tourist routes in the Danube Delta Biosphere Reserve
      p
        Tourism activity in the Danube Delta is in compliance with the regulations of the current laws. Once declared a biosphere reserve, the Reserve Authority established its own rules for carrying out tourism activities, in order to protect the natural heritage. For this purpose, 24 tourist routes have been established within the reserve, of which 15 routes that can be performed only by naval transportation and 9 trails that can be done by hiking or road transport (hiking trails). Boat routes start from the main entry points in reserve: Tulcea, Murighiol, Jurilovca or from the localities situated in the reserve: Chilia Veche, Crişan, Sulina, St. Gheorghe. Hiking trails start from Tulcea, Murighiol, Uzlina, Sulina, Sf. Gheorghe, Chilia Veche.
      
