+article('Important settlements')
  +section('Important settlements')
    h1.en Important settlements in the Pontic Area of the Danube Delta Biosphere Reserve
    h1.ro Aşezări importante din Zona Pontică a Rezervaţiei Biosferei Delta Dunării