+article('Sfântu Gheorghe')
  +section('Sfântu Gheorghe')
    h1.en Sfântu Gheorghe
    h1.ro Sfântu Gheorghe
    p.en
      strong Sfântu Gheorghe 
      |(also known as Kadâlez, Catârlez until 1900) – first mentioned in 1318 by Petrus Visconti on his map “
      em Periplus Ponti Euxini Octupulus
      |”, is a village with around 900 inhabitants, situated on the branch named after it, in the place where the sea meets the Danube. The village is situated on the oldest Danube branch and is inhabited mainly by fishermen.   
    p.en Sfântu Gheorghe is mainly inhabited by Hahols, who are fishing, breeding livestock and collecting reed. In recent years though, tourist activities have been intensified. Almost all houses in Sfântu Gheorghe can provide accomodation and fish-based meals. There are over 20 pensions (boarding and lodging houses) in Sfântu Gheorghe, including a modern camping site, situated quite close to the sea.
    p.en 
      |The most important celebrations in Sfântu Gheorghe are: the local church fest, celebrated on the 6
      sup th 
      |of May, when boat, horse, rope and dance competitions are organized; 
      em Catalaua
      |, the celebration of Saint Andrew, when people tie rolls of bread decorated with candies on house beams, and men participate in a sort of competition jumping and trying to bite out a pece of bread without using their hands; 
      em Vecera 
      |– celebrated on the 6
      sup th 
      |of January (Christmas Eve on old rite calendar), when people bring bread rolls and gifts to their relatives; 
      em Easter of the Dead 
      |– celebrated on the 8
      sup th 
      |day after Easter Sunday – villagers go to the graveyard and organize the meal near family graves, and the dead are remembered; old rite Christmas holidays starting on January the 7
      sup th 
      |; New Year’s Eve – January the 14
      sup th 
      |(
      a(href='http://sfantu-gheorghe.ro') http://sfantu-gheorghe.ro
      |). During summer, Sfântu Gheorghe is the stage of various music concerts (including electronic, house, etc.). 
    p.en The main tourist attractions in Sfântu Gheorghe are: the newly built miniport, offering landing facilities to boats of all sizes; the holiday village; the Black Sea beach, where the sea level raises slowly and the sands are extra-fine; the Lighthouse (50 m high) built in 1967.
    p.ro
      strong Sfântu Gheorghe 
      |(Kadâlez, Catârlez până în 1900), menţionată prima dată în 1318 de Petrus Visconti pe harta „
      em Periplus Ponti Euxini Octupulus
      |” este o localitate cu o populaţie de cca 900 de locuitori, se află pe braţul cu acelaşi nume, acolo unde Dunărea întâlneşte marea. Aşezarea este situată pe cel mai vechi braţ al Dunării şi este populată în principal de pescari.
    p.ro În Sfântu Gheorghe trăiesc preponderent haholi, care se ocupă cu pescuitul, creşterea animalelor şi tăierea stufului. În ultimii ani însă s-a dezvoltat foarte mult turismul. Aproape toate casele din Sfântu Gherghe pot oferi cazare şi mese pe bază de peşte. Există peste 20 de pensiuni în Sfântu Gherghe, inclusiv un camping modern, situat destul de aproape de mare. 
    p.ro 
      |Principalele sărbători de la Sfântu Gheorghe sunt: Hramul aşezării, care se ţine pe 6 mai. Cu ocazia aceasta se organizează concursuri de bărci, de cai, de sfoară şi de dans; Catalaua, de Sfântul Andrei, când se leagă de grindă un colac de pâine ornat cu bomboane. Bărbaţii au un fel de concurs în care trebuie să sară şi să muşte din colac fără a folosi mâinile; Vecera - în seara zilei de 6 ianuarie, în Ajunul Crăciunului pe stil vechi, se merge cu colaci şi cadouri la rudele apropiate; Paştele Blajinilor (Paştele morţilor), are loc a opta zi după Paşte, se merge în cimitir, sătenii organizează masa la mormintele familiilor şi se pomenesc morţii; Crăciunul pe calendarul vechi, 7 ianuarie; Anul Nou - 14 ianuarie (
      a(href='http://sfantu-gheorghe.ro') http://sfantu-gheorghe.ro
      |). Totodată aici se desfăşoară vara concerte de muzică electronică, house, sau alte genuri muzicale. 
    p.ro Principalele atracţii turistice din Sfântu Gheorghe sunt: miniportul nou construit, care oferă facilităţi de acostare ambarcaţiunilor de toate mărimile; satul de vacanţă; plaja Mării Negre, unde apa mării creşte foarte lin, iar nisipul este deosebit de fin; vizitarea farului (50 de metri înălţime), care datează din 1967.