+article('Buffer Areas')
  +section('Buffer Areas')
    .lang.lang-en
      h1 Buffer Areas
      p The buffer areas cover a total of 222,996 ha of land or waters that are surrounding the strictly protected areas. They have similar biological characteristics with the areas which they protect by reducing the human pressure. In the buffer zone, the traditionally exploitation of natural renewable resources is allowed, with conservation premises and environmental protection.
    .lang.lang-ro
      h1 Zone tampon
      p Zonele tampon însumează 222.996 ha şi cuprind suprafeţele de teren sau ape care înconjoară zonele cu regim de protecţie integrală. Aceste zone prezintă caracteristici biologice apropiate de cele ale zonelor pe care le protejează prin reducerea presiunii antropice. În zonele tampon este permisă valorificarea resurselor naturale regenerabile în mod tradiţional şi cu condiţii de conservare şi protecţie a mediului. 
