+article('Sustainable development areas')
  +section('Sustainable development areas')
    .lang.lang-en
      h1 Sustainable development areas
      p 
        strong Sustainable development areas 
        |including the ecological restoration sites, consist of fishery, agricultural and forestry polders, areas with free-flooding regime not included in the protected areas, village and town territories, and other facilities of economic interest within reserve limits. On these public or private areas, under strict environment protection conditions, can be undertaken economic and social activities, such as fishing and pisciculture, agriculture and animal breeding, tourism etc. 
    .lang.lang-ro
      h1 Zonele de dezvoltare durabilă
      p 
        strong Zonele de dezvoltare durabilă (economice) 
        |inclusiv cele de reconstrucţie ecologică, cuprind suprafeţele amenajate piscicol, agricol, silvic şi în alte scopuri, terenurile cu regim liber la inundaţii care nu sunt incluse în ariile protejate, vetrele localităţilor, precum şi alte folosinţe de interes economic din limitele rezervaţiei. Pe aceste suprafeţe din domeniul public sau privat, se desfăşoară, în condiţii de protecţie a mediului, activităţi economice, sociale, dintre care se menţionează pescuitul şi piscicultura, agricultura şi creşterea animalelor, turismul etc.    
