+article('Cover')
  +section('Cover')
    .lang.lang-ro
      h1 Rezervația Biosferei Delta Dunării
      h2 Ghidul vizitatorului
    .lang.lang-en
      h1 Danube Delta Biosphere Reserve
      h2 Visitor's guide
